
  .con{
    background:  rgb(1, 24, 54);
    width: fit-content;
    width: 1348px;
    height: 1000%;

  }

  .container2 {
    display: flex;
    margin-top: 0%;
    height: 1000%;
    justify-content: center;
    align-items: center;
    width: fit-content;

  }
  
  .form {
    width: 600px; 
    height: 600px;
    margin-top: 20%;
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 40px;
    display: inline-block;
    border: 1px solid rgb(1, 24, 54);
    padding: 1rem;
    box-sizing: border-box;
  }


.form h3,p{
    color: #fff;
}

.form input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 94%;
    outline: none;
}
.form textarea{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 95%;
    height: 95px;
    outline: none;
}
.form h1{
    color: #ad4703d0;
}
.container2 button{
    background-color: #ad4703d0;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
}
.container2 button:hover{
    background-color:  #e2e6ee;
    border-color: #010e2b;
    cursor: pointer;
    color: #ad4703d0;
}


/* header */
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: flex;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
    cursor: pointer;
}
.navbar-nav a:hover{
    opacity: 0.7;
    cursor: pointer;
}




footer{
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    align-items: center;

}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
    gap: 50px;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: flex;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}

/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}
img {
    width: 200px;
    margin: 10px;
    height: 200px;
  }


/*.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}*/